Checks:
  - '-*'
  - 'bugprone-*'
  - 'clang-analyzer-*'
  - 'cppcoreguidelines-*'
  - 'misc-*'
  - 'modernize-*'
  - 'performance-*'
  - '-bugprone-easily-swappable-parameters'
  - '-cppcoreguidelines-avoid-do-while'
  - '-cppcoreguidelines-avoid-non-const-global-variables'
  - '-cppcoreguidelines-pro-type-reinterpret-cast'
  - '-cppcoreguidelines-pro-type-union-access'
  - '-cppcoreguidelines-pro-type-vararg'
  - '-misc-include-cleaner'
  - '-misc-non-private-member-variables-in-classes'
  - '-misc-use-anonymous-namespace'
  - '-modernize-return-braced-init-list'
  - '-modernize-use-trailing-return-type'
  - '-bugprone-macro-parentheses'
  - '-bugprone-narrowing-conversions'
  - '-cppcoreguidelines-avoid-magic-numbers'
  - '-cppcoreguidelines-narrowing-conversions'
  - '-misc-const-correctness'
  - '-modernize-use-scoped-lock'
  - '-performance-unnecessary-value-param'
  - '-cppcoreguidelines-avoid-c-arrays'
  - '-modernize-avoid-c-arrays'
  - '-cppcoreguidelines-pro-bounds-array-to-pointer-decay'
  - '-cppcoreguidelines-pro-bounds-pointer-arithmetic'
  - '-cppcoreguidelines-avoid-const-or-ref-data-members'
  - '-cppcoreguidelines-pro-type-static-cast-downcast'
  - '-bugprone-undefined-memory-manipulation'
  - '-cppcoreguidelines-special-member-functions'
  - '-bugprone-forward-declaration-namespace'
  - '-bugprone-implicit-widening-of-multiplication-result'
  - '-bugprone-exception-escape'
  - '-bugprone-branch-clone'
  - '-modernize-use-equals-default'
  - '-modernize-loop-convert'
  - '-modernize-use-auto'
  - '-modernize-pass-by-value'
  - '-modernize-use-designated-initializers'
  - '-cppcoreguidelines-owning-memory'
  - '-cppcoreguidelines-use-default-member-init'
  - '-modernize-use-default-member-init'
FormatStyle: 'file'
