Checks:
  - '-*'
  - 'bugprone-*'
  - 'clang-analyzer-*'
  - 'cppcoreguidelines-*'
  - 'misc-*'
  - 'modernize-*'
  - 'performance-*'
  - '-misc-include-cleaner'
  - '-misc-non-private-member-variables-in-classes'
  - '-modernize-use-trailing-return-type'
FormatStyle: 'file'
