[submodule "external/mapbox-gl-native"]
	path = external/mapbox-gl-native
	url = https://github.com/dpaulat/maplibre-gl-native.git
[submodule "external/cmake-conan"]
	path = external/cmake-conan
	url = https://github.com/conan-io/cmake-conan.git
[submodule "test/data"]
	path = test/data
	url = https://github.com/dpaulat/supercell-wx-test-data
[submodule "external/hsluv-c"]
	path = external/hsluv-c
	url = https://github.com/hsluv/hsluv-c.git
[submodule "external/freetype-gl"]
	path = external/freetype-gl
	url = https://github.com/rougier/freetype-gl.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "data"]
	path = data
	url = https://github.com/dpaulat/supercell-wx-data
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/imgui-backend-qt"]
	path = external/imgui-backend-qt
	url = https://github.com/dpaulat/imgui-backend-qt
[submodule "external/aws-sdk-cpp"]
	path = external/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
[submodule "external/date"]
	path = external/date
	url = https://github.com/HowardHinnant/date.git
[submodule "external/units"]
	path = external/units
	url = https://github.com/nholthaus/units.git
[submodule "external/textflowcpp"]
	path = external/textflowcpp
	url = https://github.com/catchorg/textflowcpp.git
