[submodule "external/mapbox-gl-native"]
	path = external/mapbox-gl-native
	url = ../maplibre-gl-native.git
[submodule "external/cmake-conan"]
	path = external/cmake-conan
	url = https://github.com/conan-io/cmake-conan.git
[submodule "test/data"]
	path = test/data
	url = ../supercell-wx-test-data
[submodule "external/hsluv-c"]
	path = external/hsluv-c
	url = https://github.com/hsluv/hsluv-c.git
